@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/mixins.scss";

.nav_bar {
  font-size: 1.5rem;
  font-weight: 400;
  color: $primary;
}

.nav_bar__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  padding: 0.7rem 1.1rem;

  font-size: 1.4rem;
  font-weight: 700;
  color: $tertiary;
  background: $primary;
  border: 1px solid $secondary;

  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    color: $primary;
    background: $tertiary;
  }
}
