@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mixins.scss";

.basket_link {
  cursor: pointer;
  position: relative;
  z-index: 1000;

  &:hover {
    & .basket_link__wrapper {
      color: $hoverWhite;
      background: $hoverBlue;

      .basket_link__icon {
        fill: $hoverWhite;
      }

      & span {
        color: $hoverWhite;
      }
    }

    & .basket_link__arrow {
      &::after {
        border-bottom-color: $tertiary;
        border-right-color: $tertiary;
      }
    }
  }
}

.basket_link__wrapper {
  padding: 15px 40px 15px 20px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.basket_link__action {
  display: flex;

  & span {
    text-transform: capitalize;
    margin-left: 20px;
    transition: color 0.2s ease-in-out;
  }
}

.basket_link__icon {
  fill: $secondary;
  transition: fill 0.2s ease-in-out;
}

.basket_link__arrow {
  position: absolute;

  top: 45%;
  right: 25px;

  &::after {
    @include add-arrow;
    transform: translateY(-45%) rotate(45deg);

    transition: border-color 0.2s ease-in-out;
  }
}

.basket_link__products_quantity {
  width: 17px;
  height: 17px;
  background: $orange;
  border-radius: 50%;

  position: absolute;
  top: 20%;
  left: 35px;

  & span {
    color: $tertiary;
    position: absolute;
    top: -5px;
    left: -15px;
  }
}
