@import "../../../../../styles/colors.scss";

.select_field {
  position: relative;

  & label {
    display: block;
    margin-bottom: 10px;
    color: $secondary;
    text-align: start;
    text-transform: uppercase;
  }
}

.select_field__error {
  font-size: 1.3rem;
  color: $danger;

  position: absolute;
  left: 0;
  top: 105%;
}

.select_field__invalid .select_form__control {
  border: 1px solid $danger !important;
}

.select_filter {
  &__control {
    font-family: "Georgia Italic" !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    color: $primary !important;

    background: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid $primary !important;
    box-shadow: none !important;
  }

  &__value-container {
    &--has-value {
      text-align: center !important;
    }
  }

  &__input-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  &__placeholder {
    font-family: "Georgia Italic" !important;
    font-size: 1.4rem !important;
    color: $primary !important;
  }

  &__indicator * {
    fill: $secondary !important;
  }

  &__dropdown-indicator * {
    cursor: pointer !important;
    transition: fill 0.2s ease-in-out !important;

    &:hover * {
      fill: $hoverBlue !important;
    }
  }

  &__clear-indicator * {
    cursor: pointer !important;
    transition: fill 0.3s ease-in-out !important;

    &:hover * {
      fill: $danger !important;
    }
  }

  &__clear-indicator {
    & svg {
      transition: transform 0.3s ease-in-out !important;
      &:hover {
        transform: rotate(180deg) !important;
      }
    }
  }

  &__indicator-separator {
    display: none !important;
  }

  &__clear-indicator + &__indicator-separator {
    display: block !important;
  }

  &__control--menu-is-open {
    .select_filter__dropdown-indicator * {
      fill: $blue !important;
    }
  }

  &__menu {
    font-family: "Georgia Italic" !important;
    font-weight: 500 !important;
    font-size: 1.4rem !important;
    color: $primary !important;

    box-shadow: 0 0 5px $boxShadow !important;
  }

  &__option {
    padding: 4px 12px !important;
    cursor: pointer !important;

    &--is-selected {
      background: $blue !important;
    }
    &--is-focused {
      background: rgba($color: $blue, $alpha: 0.2) !important;
    }
  }
}

.select_filter__option--is-focused.select_filter__option--is-selected {
  background: $blue !important;
}

.select_form {
  &__control {
    font-family: "Montserrat" !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    color: $primary !important;
    text-align: start;

    background: transparent !important;
    border-radius: 0 !important;
    border: 1px solid #c9c7c7 !important;
    box-shadow: none !important;

    & + .select_field__error {
      border: 1px solid $danger !important;
    }
  }

  &__input-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  &__single-value {
    text-transform: capitalize !important;
  }

  &__placeholder {
    font-family: "Montserrat" !important;
    font-size: 1.1rem !important;
    text-transform: capitalize !important;
    color: rgba($color: $secondary, $alpha: 0.85) !important;
  }

  &__indicator * {
    fill: $secondary !important;
  }

  &__dropdown-indicator * {
    cursor: pointer !important;
    transition: fill 0.2s ease-in-out !important;

    &:hover * {
      fill: $hoverBlue !important;
    }
  }

  &__clear-indicator * {
    cursor: pointer !important;
    transition: fill 0.3s ease-in-out !important;

    &:hover * {
      fill: $danger !important;
    }
  }

  &__clear-indicator {
    & svg {
      transition: transform 0.3s ease-in-out !important;
      &:hover {
        transform: rotate(180deg) !important;
      }
    }
  }

  &__indicator-separator {
    display: none !important;
  }

  &__clear-indicator + &__indicator-separator {
    display: block !important;
  }

  &__control--menu-is-open {
    .select_form__dropdown-indicator * {
      fill: $blue !important;
    }
  }

  &__menu {
    font-family: "Montserrat" !important;
    text-align: start;
    font-weight: 500 !important;
    font-size: 1.4rem !important;
    color: $primary !important;

    box-shadow: 0 0 5px $boxShadow !important;
  }

  &__option {
    padding: 4px 12px !important;
    text-transform: capitalize !important;
    cursor: pointer !important;

    &--is-selected {
      background: $blue !important;
    }
    &--is-focused {
      background: rgba($color: $blue, $alpha: 0.2) !important;
    }
  }
}

.select_form__option--is-focused.select_form__option--is-selected {
  background: $blue !important;
}
