@import "../../../../../../styles/colors.scss";

.history_products {
}

.product {
  display: flex;
  margin-bottom: 10px;
}

.product_img__wrapper {
  display: flex;
  align-items: center;
}

.product_img {
  width: 45px;
  height: 45px;

  margin-right: 10px;
  border: 1px solid $boxShadow;
}

.product_info__wrapper {
  display: flex;
  align-items: center;
}

.product_info {
  & p {
    line-height: 1;
  }

  & span {
    font-size: 1rem;
    font-weight: 400;
  }
}
