@import "../../../../../styles/colors.scss";

.add_address_form {
  padding-top: 40px;
  text-align: center;
}

.add_address_form__title {
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.add_address_form__field {
  margin-bottom: 35px;
}

.add_address_form__two_field_collective {
  display: flex;
  margin: 0 -10px;

  & .add_address_form__field {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 35px;
  }
}

.add_address_form__three_field_collective {
  display: flex;
  margin: 0 -10px;

  & .add_address_form__field {
    width: 33.33333%;
    padding: 0 10px;
    margin-bottom: 35px;
  }
}
