$primary: #222;
$secondary: #747474;
$tertiary: #fff;
$quaternary: #e5e5e5;
$orange: #f68236;
$blue: #00c8c8;
$boxShadow: #b7b0b0;
$bgImg: #8a8686;
$danger: #dc3545;
$green: #2c8b49;

$hoverBlue: #00c8c8;
$hoverWhite: #fff;
$hoverBoxShadow: #b7b0b0;
